Hover:
  ShowAKA: false
Documentation:
  CommentFormat: Doxygen
Style:
  AngledHeaders: ".*"
Completion:
  HeaderInsertion: Never
InlayHints:
  BlockEnd: true
  Designators: true
  Enabled: true
  ParameterNames: false
  DeducedTypes: true
  DefaultArguments: false
  TypeNameLimit: 24
