## IDE and editor files.
.idea/
.vscode/
.cache/

## Build files.
/out/
/srcc
/srcc.exe
/srcc-astgen
/srcc-astgen.exe

## Compiled modules.
/modules/*
!/modules/.gitkeep

## Valgrind.
callgrind.out.*
